@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"  >
    <h1 class="display-4"> 🍕 Welcome To The Pizza Page! 🍕</h1>
    <h5 class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Pizza">Add Pizza to your order here!</a>
                        </h5>
                        <h6> So fresh you can smell it through your screen! </h6>
                        <br>
                        <hr>
                        <p> We have perfected our gourmet recipe for all you pizza fiends attached to your screens!
                        No matter wether you are studying for mid-terms working overtime or just geeking out.We understand that it's hard to get computer stuff done and feed your self

                        that's why Razor Pizza is ranked the best all in one gourmet pizza and razor fast service that depletes uber eats and crashed door dash</p>
                        <br>
                        <p> RazorPizza has become the industry standard for on-demand hunger satifaction.With our array of gourmet ingredients we pride ourselves on being ablemto deliver tasty pizza exactly how you want it personlized you.</p>
<br>
                        <h6>RazorPizza "Get it how you want it fast!"</h6>